:root {
--container-background:  url(../assets/bg-main-desktop.png);
--container-background-color: hsl(0, 0%, 100%);
--color-white: #fff;
--font-family:"Space Grotesk";
--border-color: hsl(270, 3%, 87%);
--grey-color: hsl(279, 6%, 55%);

--card-front-background: url(../assets/bg-card-front.png);
--card-back-background:  url(../assets/bg-card-back.png);

--font-family-button: "FontAwesome";
--dark-text-color: hsl(278, 68%, 11%);
}

body {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-size: 10px;
  font-weight: 500;
  color: var(--dark-text-color) ;
  background-color: var(--border-color);
}

.container {
  display: flex;
  background-image: var(--container-background);
  background-repeat: no-repeat;
  position: absolute;
  width: auto;
  height: 900px;
  background-color: var(--container-background-color);
  -webkit-box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.61);
  animation: 1s ease-out 0s 1 fadeInAnimation;
}

.card {
  margin: 150px 100px 150px 150px;
  padding: auto 50px;
  width: auto;
  height: 245px;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
}

.card img {
  margin: 35px 35px;
  position: absolute;
  width: 40px;
}

#Card-front {
  position: absolute;
  background-image: var(--card-front-background);
  background-repeat: no-repeat;
  width: 445px;
  height: 245px;
  margin: 10px 10px;
  border-radius: 8px;
  display: flex;
  -webkit-box-shadow: 40px 40px 50px -7px rgba(0, 0, 0, 0.45);
  box-shadow: 40px 40px 50px -7px rgba(0, 0, 0, 0.45);
}

#Card-front h1 {
  position: absolute;
  color:var(--color-white);
  font-size: 2rem;
  margin: 130px 45px 70px;
  font-weight: 500;
}

#Card-front p {
  position: absolute;
  justify-content: flex-end;
  font-size: 1rem;
  color:var(--color-white);
  margin: 200px 10px auto 350px;
  text-align: right;
  font-weight: 500;
  padding: 0px;
}

#Card-front h2 {
  position: relative;
  display: flex;
  font-size: 1rem;
  color:var(--color-white);
  margin: 200px 40px;
  text-align: left;
  font-weight: 500;
  padding: 0px;
}

#Card-back {
  position: relative;
  background-image: var(--card-back-background);
  background-repeat: no-repeat;
  margin-top: 300px;
  width: 445px;
  height: 245px;
  border-radius: 8px;
  margin: 300px 110px;
  -webkit-box-shadow: 40px 40px 50px -7px rgba(0, 0, 0, 0.45);
  box-shadow: 40px 40px 50px -7px rgba(0, 0, 0, 0.45);
}

#Card-back p {
  width: 50px;
  position: absolute;
  font-size: 1rem;
  color: var(--color-white);
  margin: 110px 320px;
  padding: 0px 10px;
  text-align: right;
}

.form-body {
  width: 380px;
  height: 400px;
  padding: 0px;
  margin: 250px 150px 0px 0px;
  animation: 1s ease-out 0s 1 slideInFromleft;
}

.formEvent{
  position: relative;
  width: 100%;
}

#cardholder {
  width: 100%;
  height: 270px;
  position: relative;
  justify-items: center;
  align-items: center;
  flex-grow: space-around;
  display: block;
  margin: 10px 0px;
  padding: 0px;
}

#cardholder ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px 0px;
}

.card-name input {
  width: 94%;
  font-family: var(--font-family);
  font-weight: 500;
  padding-left: 15px;
  height: 35px;
  margin: 5px auto 0px 0px;
  border-radius: 10px;
  border-color: var(--border-color);
  color: var(--grey-color);
}

.card-name ::placeholder {
  color: var(--grey-color);
}

.card-number input {
  position: relative;
  width: 94%;
  font-family: var(--font-family);
  padding-left: 15px;
  font-weight: 500;
  height: 35px;
  margin: 5px auto;
  border-radius: 10px;
  border-color: var(--border-color);
  color: var(--grey-color);
}

.card-number ::placeholder {
  color: var(--grey-color);
}

.card-date {
  width: 150px;
  margin-top: 15px;
}

.card-date label,
.card-cvc label,
.card-number {
  margin-top: 15px;
}

.card-date input {
  width: 50px;
  height: 35px;
  font-family: var(--font-family);
  padding-left: 10px;
  margin: 10px 0px;
  margin-right: 5px;
  border-radius: 10px;
  border-color: var(--border-color);
}

.card-date ::placeholder {
  color: hsl(279, 6%, 55%);
}

.card-date li {
  width: 150px;
  padding: 0px 5px;
}

.card-cvc {
  width: 100%;
  margin-top: 15px;
}

.card-cvc input {
  width: 90%;
  font-family: var(--font-family);
  padding-left:  10px;
  height: 35px;
  margin: 10px 5px;
  border-radius: 10px;
  border-color: var(--border-color);

}

.card-cvc ::placeholder {
  color: hsl(279, 6%, 55%);
}

.card-cvc li {
  width: 210px;
  padding: 0px 0px;
  margin: 0px 0px;
}

.date-card-cvc {
  display: flex;
  margin-bottom: 10px;
}

.confirmation {
  margin: 70px auto;
  text-align: center;
  height: auto;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.confirmation h1 {
  font-size: 2rem;
}

.confirmation h2 {
  color: hsl(279, 6%, 55%);
}

.card div {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

p .error {
  margin: 0px;
  color: hsl(0, 100%, 66%);
}

.card {
  height: auto;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.footer h3, a {
  background-color: #1e1e3a;
  color: transparent;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(246, 247, 248, 0.695);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  padding-top: 1px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer a:hover {
  text-shadow: 1px 1px 2px rgba(246, 247, 248, 0.812);
}

.btn {
  width: 100%;
  text-align: center;
  margin: auto 0px;
  padding: 0px 0px;
}

button {
  outline: none;
  height: 50px;
  text-align: center;
  width: 100%;
  border-radius: 40px;
  background: var(--color-white);
  border: 2px solid var(--dark-text-color);
  color:var(--dark-text-color);
  letter-spacing: 1px;
  text-shadow: none;
  margin: auto 0px;
  padding: 0px 0px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  color: var(--color-white);
  background: var(--dark-text-color);
}
button:active {
  letter-spacing: 2px;
}
button:after {
  content: "CONFIRM";
}
button.onclic {
  width: 50px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  animation: rotating 2s 0.25s linear infinite;
  border-left-color: hsl(249, 99%, 64%);
  box-shadow:
  0 0 7px  #32f4b6,
  0 0 10px #32f4b6,
  0 0 21px #32f4b6
}
button.onclic:after {
  content: "";
}
button.onclic:hover {
  background: var(--text-color-white);
  font-weight: bold;
  color: #1ecd97;
}

button.validate {
  font-size: 20px;
  color: var(--text-color-white);
  background: linear-gradient(85deg, rgb(82, 40, 208) 0%, rgb(112, 42, 172) 100%);
}
button.validate:after {
  font-family: var(--font-family-button);
  content: "\f00c";
  font-weight: bold;
  color: #72f5cb;
  text-shadow:
      0 0 7px  #32f4b6,
      0 0 10px #32f4b6,
      0 0 21px #32f4b6
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(10%);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slideInFromleft {
    0% {
      transform: translateX(10%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

   @media (max-width: 1100px) {
    .form-body {
      margin: 50px auto;
      position: relative;
    }
    .card {
      width: 500px;
      margin: auto auto;
      justify-content: center;
      height: 330px;
    }
    .card img {
      margin: 30px 30px;
      position: absolute;
      width: 40px;
    }
    .container {
      width: 100%;
      display: flex;
      justify-content: center;
      display: block;
      margin: auto auto;
      background-image: url(../assets/bg-main-mobile.png);
      background-repeat: repeat-x;
      position: relative;
    }

    #Card-front h1 {
      font-size: 1.7rem;
      margin: 110px 30px 70px;
    }
    #Card-front p {
      font-size: 1rem;
      margin: 168px 10px auto 300px;
      text-align: right;
      font-weight: 500;
      padding: 0px;
    }
    #Card-front h2 {
      font-size: 1rem;
      margin: 168px 30px;
      text-align: left;
      font-weight: 500;
      padding: 0px;
    }
    #Card-back p {
      font-size: 1rem;
      margin: 102px auto auto 280px;
      text-align: right;
      font-weight: 500;
      padding: 0px;
    }
    #Card-front {
      position: absolute;
      background-image: url(../assets/bg-card-front.png);
      background-size: 380px 230px;
      width: 370px;
      height: 210px;
      background-repeat: no-repeat top;
      margin: 160px 10px;
      z-index: 1;
    }
    #Card-back {
      position: absolute;
      background-image: url(../assets/bg-card-back.png);
      background-size: 380px 230px;
      width: 370px;
      height: 210px;
      margin: 30px 90px;
    }
    .footer h3, a {
      padding-top: 1px;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
    }
    .footer a:hover {
      padding-top: 1px;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .error{
      margin: 5px auto;
    }

  }
  @media (max-width: 490px) {

    .form-body {
      width: 100%;
      margin: 20px auto!important;
      position: relative;
      display: flex;
      justify-content: center;
    }
    .container {
      width: 100vw;
      height: auto;
      margin: auto;
    }

    .card {
      width: 100vw;
      margin: 0;
    }

    #cardholder {
      width: 90%;
    }
    
    .card img {
      margin: 30px 30px;
      position: absolute;
      width: 35px;
    }
    #Card-front h1 {
      font-size: 1.2rem;
      margin: 110px 30px 70px;
    }
    #Card-front p {
      font-size: 0.7rem;
      margin: 150px 5px auto 210px;
      text-align: right;
      padding: 0px;
    }
    #Card-front h2 {
      font-size: 0.7rem;
      margin: 150px 30px;
      text-align: left;
      padding: 0px;
    }

    #Card-front {
      position: absolute;
      background-image: url(../assets/bg-card-front.png);
      background-size: 280px 190px;
      width: 280px;
      height: 180px;
      background-repeat: no-repeat top;
      margin: 138px 20px;
      z-index: 1;
    }
    #Card-back {
      position: absolute;
      background-image: url(../assets/bg-card-back.png);
      background-size: 280px 190px;
      width: 280px;
      height: 180px;
      margin: 30px 60px;
    }
    #Card-back p {
      font-size: 0.8rem;
      margin: 85px auto auto 200px;
      text-align: right;
      font-weight: 500;
      padding: 0px;
    }
    .footer h3, a {
      padding-top: 1px;
      text-align: center;
      font-size: 0.8rem;
      font-weight: bold;
    }
    .footer a:hover {
      padding-top: 1px;
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
    }

    .footer {
      display: flex;
      bottom: -170px;
      align-self: center;
      margin: auto;
    }
  
  }
  